<%=notice%>

<%=form_tag session_customer_path  do%>
  <%= label_tag :login, "Username or Email Address"%>
  <br>
  <%= text_field_tag :login, params[:login]%>
  <br>
  <%= label_tag :password %>
  <br>
  <%= password_field_tag :password, nil%>
  <br>

  <%=link_to "Don't Have An Account ? ", signup_path,:class=>"forgot"%>
  <br>
  <%=submit_tag "Log In", :class=>"btn submit"%>
<%end%>
