
<% unless @cart.line_items.any? %>
  <p>You don't have any items in your cart. <%= link_to "Go Add Some", root_path %>
<% end %>
<%= notice %>
<% for line_item in @cart.line_items %>
  <tbody>
    <tr>
      <td class="desc">
        <h3>
          <a href="#" class="text-navy">
            <%= line_item.product.product_name %>
          </a>
        </h3>

        <div class="m-t-sm">
          <%=link_to add_to_cart_path(line_item.product.id),:class=>"text-muted" do%>
            <i class="fa fa-plus"></i> Add More
          <%end%>
          |
          <%=link_to remove_from_cart_path(line_item), :method => :post, :class=>"text-muted" do%>
            <i class="fa fa-trash"></i> Remove Item
            <%end%>
        </div>
      </td>

      <td>
        <h4><%= number_to_currency line_item.sub_total %></h4>
      </td>

    </tr>
  </tbody>
 </table>
<%end%>

                        <%= form_tag checkout_path do |f| %>
                          <%= submit_tag "Checkout Now!",:class=>"btn btn-primary pull-right" do%>
                            <i class="fa fa-shopping"></i> Checkout
                          <%end%>
                          <%= link_to root_path,:class=>"btn btn-white" do%>
                            <i class="fa fa-arrow-left"></i> Continue Shopping
                          <%end%>
                        <% end %>

                              <%= form_tag checkout_path do |f| %>
                                <%= submit_tag "Checkout Now!",:class=>"btn btn-primary btn-sm" do%>
                                  <i class="fa fa-shopping"></i> Checkout
                                <%end%>
                                <%= link_to "Cancle", root_path,:class=>"btn btn-white btn-sm"%>

                                <%end%>
