<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id, id: :order_customer_id %>
  </div>

  <div class="field">
    <%= form.label :checked_out_at %>
    <%= form.datetime_select :checked_out_at, id: :order_checked_out_at %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.text_field :total_price, id: :order_total_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
