<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Checked out at</th>
      <th>State</th>
      <th>Total price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer.email %></td>
        <%if order.state == "in_complete"%>
          <td>Null</td>
        <%else%>
          <td><%= order.checked_out_at %></td>
        <%end%>
        <td><%= order.state%></td>
        <%if order.state == "in_complete"%>
          <td><%=number_to_currency(0)%></td>
        <%else%>
          <td><%= number_to_currency(order.total_price) %></td>
        <%end%>

        <%if current_admin_user.admin?%>
          <td><%= link_to 'Show', admin_order_path(order) %></td>
          <td><%= link_to 'Destroy', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'Show', admin_order_path(order) %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
