<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.email %>
</p>

<p>
  <strong>Checked out at:</strong>
  <%= @order.checked_out_at %>
</p>

<p>
  <strong>Total price:</strong>
  <%= number_to_currency(@order.total_price) %>
</p>

<%= link_to 'Back', admin_orders_path %>
