<ul>
  <li><%=link_to "Products", admin_products_path%></li>
  <li><%=link_to "Categories", admin_categories_path%></li>
  <li><%=link_to "Stock Location", admin_stock_locations_path%></li>
  <li><%=link_to "Orders", admin_orders_path%></li>
  <li><%=link_to "Customers", admin_customers_path%></li>
  <li><%=link_to "Users", admin_users_path%></li>
  <li><%=link_to "Log Out", destroy_admin_user_session_path, method: :delete%></li>
</ul>
