<%=notice%>
<%= form_for @customer do |f| %>
<div class="field">
  <%= f.label :username %>
  <%= f.text_field :username,:class=>"form-control" %>
</div><!-- /.field-row -->

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email,:class=>"form-control" %>
</div><!-- /.field-row -->

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password,:class=>"form-control"%>
</div><!-- /.field-row -->

<div class="field">
  <%= f.label :password_confirmation, "Confirm Password",:class=>"form-control" %>
  <%= f.password_field :password_confirmation,:class=>"form-control" %>
</div><!-- /.field-row -->

<%=f.submit "Register", :class=>"btn btn-primary block full-width m-b"%>
<%end%>
