<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @customer.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Password hashl:</strong>
  <%= @customer.password_hashL %>
</p>

<p>
  <strong>Password salt:</strong>
  <%= @customer.password_salt %>
</p>

<p>
  <strong>Image:</strong>
  <%= @customer.image %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
