<%= form_for([:admin, @stock_location]) do |form| %>
  <% if stock_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_location.errors.count, "error") %> prohibited this stock_location from being saved:</h2>

      <ul>
      <% stock_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stock_name %>
    <%= form.text_field :stock_name, id: :stock_location_stock_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
