<h1>Editing Stock Location</h1>

<%= render 'form', stock_location: @stock_location %>

<%= link_to 'Show', admin_stock_location_path(@stock_location) %> |
<%= link_to 'Back', admin_stock_locations_path %>
