<p id="notice"><%= notice %></p>

<h1>Stock Locations</h1>

<table>
  <thead>
    <tr>
      <th>Stock name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_locations.each do |stock_location| %>
      <tr>
        <td><%= stock_location.stock_name %></td>
        <td><%= stock_location.user.email%></td>
        <%if current_admin_user.admin?%>
          <td><%= link_to 'Show', admin_stock_location_path(stock_location) %></td>
          <td><%= link_to 'Edit', edit_admin_stock_location_path(stock_location) %></td>
          <td><%= link_to 'Destroy', admin_stock_location_path(stock_location), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'Show', admin_stock_location_path(stock_location) %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Location', new_admin_stock_location_path %>
