<p id="notice"><%= notice %></p>

<p>
  <strong>Stock name:</strong>
  <%= @stock_location.stock_name %>
</p>
<%if current_admin_user.admin?%>
  <%= link_to 'Edit', edit_admin_stock_location_path(@stock_location) %> |
  <%= link_to 'Back', admin_stock_locations_path %>
<%else%>
  <%= link_to 'Back', admin_stock_locations_path %>
<%end%>
