<p id="notice"><%= notice %></p>

<h1>Stock Items</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Stock location</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_items.each do |stock_item| %>
      <tr>
        <td><%= stock_item.product.product_name %></td>
        <td><%= stock_item.stock_location.stock_name %></td>
        <td><%= stock_item.quantity %></td>
        <td><%= stock_item.product.user.email%></td>
        <%if current_admin_user.admin?%>
          <td><%= link_to 'Show', admin_stock_location_path(stock_item.stock_location.id) %></td>
          <td><%= link_to 'Edit', edit_admin_stock_location_path(stock_item) %></td>
          <td><%= link_to 'Destroy', admin_stock_location_path(stock_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'Show', admin_stock_location_path(stock_item.stock_location.id) %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Item', new_admin_stock_location_path %>
