<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @stock_item.product_id %>
</p>

<p>
  <strong>Stock location:</strong>
  <%= @stock_item.stock_location_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock_item.quantity %>
</p>
<%if current_admin_user.admin?%>
  <%= link_to 'Edit', edit_stock_item_path(@stock_item) %> |
  <%= link_to 'Back', stock_items_path %>
<%else%>
  <%= link_to 'Back', stock_items_path %>
<%end%>
