<%= notice %>
<%=@product.count_on_hand%>
<%=form_for([:admin, @product, @stock_item])do |f|%>
  <div class="field">
    <%=f.label :quantity%>
    <%=f.number_field :quantity, :placeholder=>"Qty"%><br>
  </div>

  <div class="field">
    <%=f.label "Stock Location"%>
    <%=f.collection_select :stock_location_id, StockLocation.all, :id, :stock_name%><br>
  </div>


  <div class="actions">
    <%=f.submit%>
  </div>

<%end%>
