<%= notice %>
<h1>Product</h1>
<%if logged_in?%>
  <%if current_customer%>
    <p>Item: <%=@cart.line_items.count%></p>
  <%else%>

  <%end%>
<%else%>
  <p>Item: <%= "0"%></p>
<%end%>
<ul>
  <%@products.each do |product|%>
  <li><%=product.product_name%></li>
  <li><%=product.quantity%></li>
  <li><%=product.price%></li>
  <li><%=link_to "Add To Cart", add_to_cart_path(product)%></li>
  <br>
  <%end%>

</ul>
