<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
<%= link_to "Stock", admin_product_stock_path(@product)%>
