<%=form_for [:admin, @user] do |f|%>
  <%=f.label "Select Role", :class=>"control-label"%>
  <%= f.select :role,(User.roles.keys.map {|role| [role.titleize,role]}), {}, {class: 'form-control'} %>

  <%=f.label "Username", for:"inputName", :class=>"control-label"%>
  <%=f.text_field :username, :class=>"form-control",:placeholder=>"Username", :required=>true%>

  <%=f.label "Email", for:"inputName", :class=>"control-label"%>
  <%= f.email_field :email, autofocus: true,:class=>"form-control", :placeholder=>"Email"%>


  <%=f.label "Password", for:"inputName", :class=>"control-label"%>
  <%= f.password_field :password, autofocus: true,:class=>"form-control", :placeholder=>"Password"%>

  <%=f.label "Email", for:"inputName", :class=>"control-label"%>
  <%= f.password_field :password_confirmation, autofocus: true,:class=>"form-control", :placeholder=>"Confirmation Password"%>
  <br>
  <%=f.submit%>
  <%=link_to "back", admin_users_path%>
<%end%>
