<h1>Users</h1>
<%=link_to "New User", new_admin_user_path%>
<table>
  <thead>
    <th>Username</th>
    <th>E-mail</th>
    <th>Role</th>
  </thead>
  <%@users.each do |user|%>
    <tr>
      <td><%=user.username%></td>
      <td><%=user.email%></td>
      <td><%=user.role%></td>

      <%if current_admin_user.admin?%>
        <td><%=link_to "Show", admin_user_path(user)%></td>
        <td><%=link_to "Edit", edit_admin_user_path(user)%></td>
        <td><%=link_to "Delete", admin_user_path(user)%></td>
      <%else%>
        <td><%=link_to "Show", admin_user_path(user)%></td>
      <%end%>

    </tr>
  <%end%>
</table>
