<h1>User</h1>

<p>
  <strong>Username</strong>
  <%=@user.username%>
</p>

<p>
  <strong>Email</strong>
  <%=@user.email%>
</p>

<p>
  <strong>Role</strong>
  <%=@user.role%>
</p>

<p>
  <%if current_admin_user.admin?%>
    <%=link_to "Edit", edit_admin_user_path(@user)%>
    <%=link_to "Back", admin_users_path%>
  <%else%>
    <%=link_to "Back", admin_users_path%>
  <%end%>
</p>
