<h1>Product Page</h1>
<%if logged_in?%>
  <%if current_customer%>
    <p><%=link_to "Item: ",cart_path%><%=count_cart%></p>
  <%else%>

  <%end%>
<%else%>
  <p>Item: <%= "0"%></p>
<%end%>

<%=notice%>
<ul>
  <%@products.each do |product|%>
  <li><%=product.product_name%></li>
  <li><%=product.quantity%></li>
  <li><%=product.price%></li>
  <li><%=link_to "Add To Cart", add_to_cart_path(product)%></li>
  <%end%>
</ul>
