<!DOCTYPE html>
<html>
  <head>
    <title>ProjectLdiV1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin_application'%>
  </head>

  <body>
    <%=render "shared/link"%>
    <%= yield %>
    <%= javascript_include_tag 'admin_application'%>
  </body>
</html>
