<!DOCTYPE html>
<html>
  <head>
    <title>ProjectLdiV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%if logged_in?%>
      <%= current_customer.username%>
      <%=link_to "Logout", logout_path%>
    <%end%>
    <%= yield %>
  </body>
</html>
